:root {
    --light-green: #BDCBB4;
    --dark-green: #6C875C;
}

header {
    display: flex;
    background-color: var(--dark-green);
    align-items: center;
}

body {
    background-color: var(--dark-green);
}

h1 {
    text-align: center;
    color: white;
    font-family: Inter;
}

.spec-button {
    display: flex;
    flex-direction: row;
    padding: 200px 300px;
    background-color: var(--light-green);
    color: var(--light-green);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: 3px solid;
    border-radius: 15px;
}

.image {
    height: 500px;
}

.image1 {
    height: 200px;
}

.button-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.button-icon {
    color: var(--light-green);
}

.review-input {
    margin: auto;
    display: flex;
    padding: 150px 600px;
    background-color: var(--light-green);
    border-bottom: 2px solid var(--light-green);
    margin-top: 20px;
}

.submit-btn {
    margin: auto;
    display: flex;
    background-color: var(--light-green);
    padding: 40px 200px;
    margin-top: 20px;
    font-size: 30px;
    font-family: Inter;
    color: var(--light-green);
}

.icon-container {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
}

.fa.fa-star {
    font-size: 275px;
    margin: auto;
    cursor: pointer;
    color: var(--light-green);
}

.hidden {
    display: none;
}