:root {
    --light-green: #BDCBB4;
    --dark-green: #6C875C;
    --black: #000
}

body {
    background-color: var(--dark-green);
    font-size: 15px;
}

header {
    display: flex;
    height: 10vh;
    background-color: var(--dark-green);
    align-items: center;
    justify-content: left;
    flex-direction: row;
    padding-bottom: 0.3em;
    border-bottom: 0.1em solid var(--light-green);
}

.logo {
    height: 5em;
}

.title {
    margin-left: 3%;
    letter-spacing: 0.1em
}



main {
    height: 80vh;
}

h1 {
    text-align: center;
    color: white;
    font-family: Inter;
}

.spec-button {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    background-color: var(--light-green);
    color: var(--light-green);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: 0.1em solid var(--black);
    border-radius: 25px;
}

.image {
    height: 20em;
    border-radius: 50%;
}



.button-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.button-icon {
    color: var(--light-green);
}

.review-input {
    margin: auto;
    display: flex;
    width: 80vw;
    height: 20vh;
    background-color: var(--light-green);
    border-bottom: 2px solid var(--light-green);
    margin-top: 20px;
}

.submit-btn {
    margin: auto;
    display: flex;
    background-color: var(--light-green);
    margin-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 30px;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-family: Inter;
    color: var(--black);
    border: 0.05em solid var(--black);
    border-radius: 0.2em;
}

.icon-container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

.fa.fa-star {
    font-size: 12em;
    margin: auto;
    cursor: pointer;
    color: var(--light-green);
}

.hidden {
    display: none;
}